<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:replace="home :: head"></th:block>
  </head>
  <body>
    <header th:insert="home :: navbar"></header>
    <main>
      <div class="container">
        <section class="page-head">
          <h2 th:if="${edit}">Modifica [[${genre.name}]]</h2>
          <h2 th:unless="${edit}">Aggiungi un nuovo genere</h2>
        </section>
        <section class="page-body">
          <div class="row">
            <div class="col-12">
              <form
                th:object="${genre}"
                th:action="${edit} ? @{/genres/edit/{id}(id=*{id})} : @{/genres/create}"
                method="POST"
              >
                <label class="form-label" for="name">Nome</label>
                <input
                  class="form-control mb-3"
                  type="text"
                  id="name"
                  th:field="*{name}"
                  required
                  th:errorClass="is-invalid"
                />
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('name')}"
                >
                  <ul>
                    <li
                      th:each="error : ${#fields.errors('name')}"
                      th:text="${error}"
                    ></li>
                  </ul>
                </div>

                <label class="form-label" for="description">Descrizione</label>
                <textarea
                  class="form-control mb-3"
                  id="description"
                  th:field="*{description}"
                  required
                  th:errorClass="is-invalid"
                ></textarea>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('description')}"
                >
                  <ul>
                    <li
                      th:each="error : ${#fields.errors('description')}"
                      th:text="${error}"
                    ></li>
                  </ul>
                </div>

                <div class="d-flex justify-content-between my-3">
                  <div>
                    <button class="btn btn-secondary" onclick="history.back()">
                      Annulla
                    </button>
                    <button class="btn btn-warning" type="reset">
                      Cancella modifiche
                    </button>
                  </div>
                  <button
                    class="btn btn-primary"
                    type="submit"
                    th:text="${edit} ? Aggiorna : Salva"
                  ></button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
