<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:replace=" home :: head"></th:block>
  </head>
  <body>
    <header><div th:insert="home :: navbar" /></header>
    <main>
      <section class="text-center container">
        <h2>I nostri album</h2>

        <!-- Flash messages -->
        <div th:if="${errorMessage}" class="alert alert-danger">
          <span th:text="${errorMessage}"></span>
        </div>
        <div th:if="${successMessage}" class="alert alert-success">
          <span th:text="${successMessage}"></span>
        </div>

        <div class="d-flex justify-content-between">
          <div>
            <div>
              <form
                class="d-flex gap-1 align-items-start"
                th:action="@{/albums}"
                method="GET"
              >
                <input
                  class="form-control form-control-sm"
                  type="text"
                  name="name"
                  th:value="${param.name}"
                  placeholder="Cerca per nome..."
                />
                <button type="submit" class="btn btn-sm btn-primary mb-1">
                  Cerca
                </button>
              </form>
            </div>
          </div>
          <div>
            <a
              sec:authorize="hasAuthority('ADMIN')"
              class="btn btn-sm btn-primary mb-1"
              th:href="@{/albums/create}"
              >Crea nuovo album</a
            >
          </div>
        </div>
        <section>
          <table
            class="table table-striped table-hover align-middle"
            th:if="${albums.size() > 0}"
          >
            <thead class="table-info">
              <tr>
                <th class="align-items-center">ID</th>
                <th>Nome</th>
                <th>Artista principale</th>
                <th>Data uscita</th>
                <th>Totale Tracce</th>
                <th>Minutaggio</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="album : ${albums}" th:object="${album}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{mainArtist}"></td>
                <td th:text="*{releaseDate}"></td>
                <td th:text="*{totalTracks}"></td>
                <td th:text="*{totalDuration}"></td>
                <td>
                  <a
                    class="btn btn-sm btn-primary"
                    th:href="@{/albums/{id}(id=*{id})}"
                    >Dettagli</a
                  >
                </td>
                <td>
                  <a
                    sec:authorize="hasAuthority('ADMIN')"
                    class="btn btn-sm btn-success"
                    th:href="@{/albums/edit/{id}(id=*{id})}"
                    >Modifica</a
                  >
                </td>
                <td>
                  <form
                    sec:authorize="hasAuthority('ADMIN')"
                    th:action="@{/albums/delete/{id}(id=*{id})}"
                    method="POST"
                  >
                    <button
                      class="btn btn-sm btn-danger"
                      onclick="return confirm('Sei sicuro di voler eliminare questo album?')"
                    >
                      Elimina
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
          <p
            th:unless="${albums.size() > 0}"
            class="alert alert-info text-center"
          >
            Non ci sono album al momento.
          </p>
        </section>
      </section>
    </main>
    <div th:replace="home :: bs-script"></div>
  </body>
</html>
